/* Estilos de los titulos h1, h2 */
h1,
h2 {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 0%;
}

h1 {
    color: #af7d4c;
}

/* Estilos de la imagen */
.imagen-mia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.imagen-yo {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos de los parrafos*/
.parrafos {
    text-align: justify;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding: 20px;
    border-radius: 12px;
    background-color: #c8c9e6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos de las redes sociales */
.Redes-sociales {
    text-align: center;
    margin-top: 30px;
}

.boton-red {
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boton-red:hover {
    background-color: #4CAF50;
    transform: scale(1.05);
}


/* Estilos de las listas */
.listas {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.lista-desordenada,
.lista-ordenada {
    background-color: #c0d147;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos de las tablas */
.tabla-horario {
    font-family: "Rubik", sans-serif;
    margin-top: 30px;
    text-align: center;
}

table {
    font-family: "Rubik", sans-serif;
    width: 100%;
    border-collapse: collapse;
    background-color: #c95b5b;
}

th,
td {
    font-family: "Rubik", sans-serif;
    border: 2px solid #888;
    border-color: black;
    padding: 10px;
    text-align: center;
}

thead {
    font-family: "Rubik", sans-serif;
    background-color: #41b745;
    color: rgb(9, 7, 7);
}

tbody th {
    font-family: "Rubik", sans-serif;
    background-color: #41b745;
}

/* Estilos del formulario */
#formulario-contacto {
    max-width: 90%;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #41b745;
    border: 1px solid #d8c711;
    border-radius: 8px;
    text-align: center;
}

#formulario-contacto h2 {
    margin-bottom: 20px;
    color: #d1c112;
}

#formulario-contacto label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    color: #000000;
}
#formulario-contacto input[type="text"],
#formulario-contacto input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #585555;
    border-radius: 4px;
    box-sizing: border-box;
}

#formulario-contacto input[type="submit"] {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #cdda0f;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#formulario-contacto input[type="submit"]:hover {
    background-color: #2c62c8;
}
